<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>    
    <add key="resource" value="fengxi" />
    
    <add key="ip" value="misty.smeshlink.com"/>
    <add key="port" value="9011"/>
    <add key="是否模拟" value="true"/>        
    <add key="url" value="http://hm-iot.chinacloudapp.cn:80/api/deviceEvents" />
    <!--add key="url" value="http://hm-iot.chinacloudapp.cn:80/api/deviceEvents" /-->
    <!--单位分钟-->
    <add key="数据超时判定时间" value="20"/>           
    <!--邮件提醒设置-->
    <add key="邮件接收人" value="spongecity-fx@smeshlink.com,527049200@qq.com" />
    <add key="发件人地址" value="mfantasy@mfant.com" />
    <add key="发件人昵称" value="设备提醒" />
    <add key="发件服务器" value="smtp.qq.com" />
    <add key="发件用户名" value="mfantasy@mfant.com" />
    <add key="发件密码" value="ryqmwpnrmoygcbdd" />
  </appSettings>  
</configuration>
