<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="ip" value="misty.smeshlink.com" />
    <add key="port" value="9011" />
    <add key="是否模拟" value="false" />
    <add key="是否提醒" value="true" />
    <add key="数据超时判定时间" value="120" />
    <!--单位分钟-->
    <add key="数据模拟发送频率" value="5" />        
    <!--单位小时-->
    <add key="邮件接收人" value="mgit@mfant.com" />    
    <add key="邮件抄送" value="spongecity-fx@smeshlink.com" />    
  </appSettings>  
</configuration>