<config>
  <!--气象站3-->
  <sensor>
    <name>白城新区5号桥气象站</name>
    <gateway>81448A00E52422E2</gateway>
    <node>0</node>
    <model>MXS5000</model>
    <sitewhere>2f59621b-3a27-4c5a-ab3f-7b8cc4db86c6</sitewhere>
  </sensor>
  <sensor>
    <name>白城市建委气象监测站</name>
    <gateway>81E78300E5242214</gateway>
    <node>0</node>
    <model>MXS5000</model>
    <sitewhere>c82a527f-2c9f-4ff1-8c07-b8bfd5e78ec6</sitewhere>
  </sensor>
  <!--sensor>
    <name> 白城市生态新区中学</name>
    <gateway>812BAD00E52422AC</gateway>
    <node>新区中学微气象监测</node>
    <model>MXS5000</model>
    <sitewhere>9df1b360-6abc-46fb-8b35-169d7a7d7b6a</sitewhere>
  </sensor-->
  <!--土壤温湿度!-->
  <!--sensor>
    <name>白城新区5号桥土壤水分观测点 </name>
    <gateway>81448A00E52422E2</gateway>
    <node>1</node>
    <model>MXS1402</model>
    <sitewhere>345f0a81-2aeb-4105-8820-d293efa160d9</sitewhere>
  </sensor>
  <sensor>
    <name>白城新区7号桥海绵城市环境观测点</name>
    <gateway>81448A00E52422E2</gateway>
    <node>2</node>
    <model>MXS1402</model>
    <sitewhere>b04f4212-8068-47f3-bc54-d814ab548134</sitewhere>
  </sensor>
  <sensor>
    <name>白城生态新区鹤鸣湖观测点</name>
    <gateway>81448A00E52422E2</gateway>
    <node>5</node>
    <model>MXS1402</model>
    <sitewhere>5b7a6b65-c24c-4a00-acdc-aafb77e39310</sitewhere>
  </sensor-->
  <!--6300井下水质PH值-->
  <sensor>
    <name>新区中学南门与市政管网交汇口</name>
    <gateway>3030303030303031</gateway>
    <node>1</node>
    <model>MX6300</model>
    <sitewhere>d227d0eb-17a4-440e-881f-460e25a4c48c</sitewhere>
  </sensor>
  <sensor>
    <name>华严寺正门绿化带</name>
    <gateway>3030303030303032</gateway>
    <node>2</node>
    <model>MX6300</model>
    <sitewhere>72322859-8a8b-442e-909d-fe7b9bb7c6ff</sitewhere>
  </sensor>
  <sensor>
    <name>华严寺正门路旁</name>
    <gateway>3030303030303033</gateway>
    <node>3</node>
    <model>MX6300</model>
    <sitewhere></sitewhere>
  </sensor>

  <!--6400井下水质TSS值-->
  <sensor>
    <name>新区中学南门与市政管网交汇口</name>
    <gateway>3030303030303031</gateway>
    <node>1</node>
    <model>MX6400</model>
    <sitewhere>c7e7645f-688b-409c-b9b1-6209db876b35</sitewhere>
  </sensor>
  <sensor>
    <name>华严寺正门路旁</name>
    <gateway>3030303030303033</gateway>
    <node>3</node>
    <model>MX6400</model>
    <sitewhere>2e814634-c98b-4309-afc8-bad5520afb34</sitewhere>
  </sensor>
  <sensor>
    <name>华严寺正门绿化带</name>
    <gateway>3030303030303032</gateway>
    <node>2</node>
    <model>MX6400</model>
    <sitewhere>255d2051-7dbb-4177-a7ca-dd6687efb569</sitewhere>
  </sensor>
  <!--8300井下液位T型-->
  <sensor>
    <name>新区中学南门与市政管网交汇口</name>
    <gateway>3030303030303031</gateway>
    <node>1</node>
    <model>MX8300</model>
    <sitewhere>66dfc53e-5dd4-4668-8cf3-dad226ddf503</sitewhere>
  </sensor>
  <sensor>
    <name>华严寺正门绿化带</name>
    <gateway>3030303030303032</gateway>
    <node>2</node>
    <model>MX8300</model>
    <sitewhere>77deb1ef-6136-4d58-8e08-6382a86a5b46</sitewhere>
  </sensor>
  <sensor>
    <name>华严寺正门路旁</name>
    <gateway>3030303030303033</gateway>
    <node>3</node>
    <model>MX8300</model>
    <sitewhere>a0981f0b-3584-4207-8fe3-21f9500effb6</sitewhere>
  </sensor>
  <!--9100井下雨水流量-->
  <sensor>
    <name>新区中学南门与市政管网交汇口</name>
    <gateway>3030303030303031</gateway>
    <node>1</node>
    <model>MX9100</model>
    <sitewhere>794facd9-1289-4cce-9a20-cdaa18797143</sitewhere>
  </sensor>
  <!--9110井下雨水流量T型-->
  <sensor>
    <name>新区中学南门与市政管网交汇口</name>
    <gateway>3030303030303031</gateway>
    <node>1</node>
    <model>MX9110</model>
    <sitewhere>c3ddf196-e580-4fd5-b4cf-329cc9f5d28a</sitewhere>
  </sensor>
  <sensor>
    <name>华严寺正门路旁</name>
    <gateway>3030303030303033</gateway>
    <node>3</node>
    <model>MX9110</model>
    <sitewhere>35ba76c2-dab8-40b9-9508-4ecbfe9dcce9</sitewhere>
  </sensor>
  <sensor>
    <name>华严寺正门绿化带</name>
    <gateway>3030303030303032</gateway>
    <node>2</node>
    <model>MX9110</model>
    <sitewhere>7d80fd68-b14e-4c06-bea8-fbc3e456f7d1</sitewhere>
  </sensor>
</config>

